/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {
        font-size: 18px !important;
    }
    h3 {
        font-size: 15px !important;
    }
    h5 {
        font-size: 11px !important;
    }
    header .logo {
        margin-top: -11px;
        width: 25% !important;
        padding-left: 20px !important;
    }
    .banner-video {
        min-height: 450px !important;
    }
    .banner-section .banner-video img {
        height: 450px !important;
    }
    .banner-video #ytbg3{
        width: 100%;
        background-size: cover;
    }
    .banner-section .call-to-action .sign-up a {
        padding-bottom: 5px !important;
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .banner-section .call-to-action .log-in a {
        padding-bottom: 5px !important;
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .banner-section .call-to-action .log-in {
        width: 35% !important;
        height: 30px !important;
    }
    .banner-section .call-to-action .sign-up {
        width: 35% !important;
        height: 30px !important;
    }

    .banner-section .banner-content .container {
        padding: 10px 0 !important;
        border-radius: 15px !important;
    }
    .banner-section .call-to-action .log-in {
        margin: 5px !important;
    }
    .banner-section .call-to-action .sign-up {
        margin: 5px !important;
    }

    .about-section{
        text-align: center !important;
    }
    .about-section .left-content h3{
        margin-top: 20px;
    }
    .about-section .left-content p{
        font-size: 13px !important;
    }
    .about-section .right-img img.xs-none {
        display: none !important;
    }
    .about-section .right-img img {
        width: 40% !important;
    }
    #service-section .service-row {
        margin-top: -170px !important;
    }
    #service-section .service-row .single-item {
        padding: 10px 5px 0px !important;
    }
    #service-section .service-row .single-item h4 {
        font-size: 13px !important;
    }
    #service-section .service-row .col-4{
        padding: 5px !important;
    }
    #service-section .service-row .col-3{
        padding: 0 !important;
    }
    #service-section .service-quotes .quotes h6 {
        font-size: 11px !important;
        line-height: 20px !important;
    }
    .service-row .single-item i {
        margin-bottom: 0px !important;
        font-size: 20px !important;
    }
    #service-section .service-row .single-item p {
        font-size: 12px !important;
    }
    #service-section .service-quotes .quotes {
        margin-top: -1px !important;
        padding: 5px 15px 0 !important;
    }
    #service-section .owl-theme .owl-nav button.owl-prev {
        left: 0 !important;
    }
    #service-section .owl-theme .owl-nav button.owl-next {
        right: 0 !important;
    }
    #e2e-section .left-img{
        width: 100% !important;
        text-align: center;
    }
    #e2e-section .left-img img{
        width: 50% !important;
    }
    #e2e-section .right-content{
        margin-top: 0 !important;
        text-align: center !important;
    }
    #e2e-section .right-content p {
        font-size: 13px !important;
        line-height: 20px !important;
    }
    .works .filtering .filter span {
        padding: 2px 0px !important;
    }
    .works .filtering .filter span {
        margin: 0 15px !important;
    }
    #testimonial p {
        font-size: 13px !important;
    }
    #testimonial h6 {
        font-size: 13px !important;
    }
    #signup-section p {
        font-size: 13px !important;
    }
    #signup-section p.p-size {
        font-size: 12px !important;
    }
    .contact-form .label {
        font-size: 14px !important;
    }
    .contact-form .input-text {
        font-size: 14px !important;
    }
    .contact-form.pl-5, .px-5 {
        padding-left: 0 !important;
    }
    #contact-all-details {
        min-height: 1200px !important;
    }
    #contact-all-details .contact-details ul li span {
        font-size: 12px !important;
    }
    #contact-all-details .contact-details ul li i {
        font-size: 14px !important;
    }
    #contact-all-details .contact-details h3 {
        margin-top: 20px !important;
    }
    #signup-section .contact-form .form-field {
        margin: 35px 0 !important;
    }
    #contact-all-details .contact-details .contact-form .form-field{
        margin: 20px 0 !important;
    }
    .video-background-controls {
        position: absolute !important;
        left: 45% !important;
        top: 50% !important;
    }
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {    
    h1 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 17px !important;
    }
    h5 {
        font-size: 13px !important;
    }
    header .logo {
        margin-top: -11px;
        width: 20% !important;
        padding-left: 20px !important;
    }
    .banner-video {
        min-height: 500px !important;
    }
    .banner-section .banner-video img {
        height: 500px !important;
    }
    .banner-video #ytbg3{
        width: 100%;
    }
    .banner-section .call-to-action .sign-up a {
        font-size: 14px !important;
        line-height: 25px !important;
    }
    .banner-section .call-to-action .log-in a {
        font-size: 14px !important;
        line-height: 25px !important;
    }
    .banner-section .call-to-action .log-in {
        width: 27% !important;
        height: 30px !important;
    }
    .banner-section .call-to-action .sign-up {
        width: 27% !important;
        height: 30px !important;
    }
    .about-section{
        text-align: center !important;
    }
    .about-section .left-content h3{
        margin-top: 20px;
    }
    .about-section .left-content p{
        font-size: 13px !important;
    }
    .about-section .right-img img {
        width: 40% !important;
    }
    #service-section .service-row {
        margin-top: -225px !important;
    }
    #service-section .service-row .single-item {
        padding: 10px 5px 0px !important;
    }
    #service-section .service-row .single-item h4 {
        font-size: 15px !important;
    }
    #service-section .service-quotes .quotes h6 {
        font-size: 11px !important;
        line-height: 20px !important;
    }
    #service-section .service-row .single-item i {
        margin-bottom: 10px !important;
        font-size: 25px !important;
    }
    #service-section .service-quotes .quotes {
        margin-top: -28px !important;
        padding: 5px 15px 0 !important;
    }
    #e2e-section .left-img{
        width: 100% !important;
        text-align: center;
    }
    #e2e-section .left-img img{
        width: 50% !important;
    }
    #e2e-section .right-content{
        margin-top: 0 !important;
        text-align: center !important;
    }
    #e2e-section .right-content p {
        font-size: 13px !important;
    }
    .works .filtering .filter span {
        padding: 2px 0px !important;
    }
    #testimonial p {
        font-size: 13px !important;
    }
    #testimonial h6 {
        font-size: 13px !important;
    }
    #signup-section p {
        font-size: 13px !important;
    }
    #signup-section p.p-size {
        font-size: 12px !important;
    }
    .contact-form .label {
        font-size: 14px !important;
    }
    .contact-form .input-text {
        font-size: 14px !important;
    }
    .contact-form.pl-5, .px-5 {
        padding-left: 0 !important;
    }
    #contact-all-details {
        min-height: 1340px !important;
    }
    #contact-all-details .contact-details ul li span {
        font-size: 12px !important;
    }
    #contact-all-details .contact-details ul li i {
        font-size: 14px !important;
    }
    #contact-all-details .contact-details h3 {
        margin-top: 20px !important;
    }
}


/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1 {
        font-size: 25px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h5 {
        font-size: 16px !important;
    }
    .top-header .social-icon ul li {
        margin-right: 15px !important;
    }
    .top-header .social-icon ul li:last-child {
        margin-right: 0 !important;
    }
    .top-header .social-icon ul li span{
        font-size: 14px !important;
        margin-right: 35px;
    }
    .top-header .social-icon ul li i{
        font-size: 16px !important;
    }
    .banner-video {
        min-height: 600px !important;
    }
    .banner-section .banner-video img {
        height: 600px !important;
    }
    .banner-section .call-to-action .log-in {
        height: 35px !important;
    }
    .banner-section .call-to-action .sign-up {
        height: 35px !important;
    }
    .banner-section .call-to-action .log-in a {
        font-size: 14px !important;
        line-height: 30px !important;
    }
    .banner-section .call-to-action .sign-up a {
        font-size: 14px !important;
        line-height: 30px !important;
    }
    .about-section .right-img {
        margin-top: 50px !important;
    }
    .about-section .left-content p{
        font-size: 14px !important;
    }
    #service-section .service-row {
        margin-top: -305px !important;
    }
    #service-section .service-quotes .quotes h6 {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    #service-section .service-row .single-item h4 {
        font-size: 15px !important;
    }
    #partner-section .partner-heading h4::before {
        left: -25px !important;
    }
    #partner-section .partner-heading h4::after {
        right: -25px !important;
    }
    #partner-section .our-partner .item {
        padding: 35px !important;
    }
    #e2e-section .left-img{
        margin-top:100px !important;
    }
    #e2e-section .right-content p {
        font-size: 14px !important;
    }
    .works .filtering .filter span {
        padding: 8px 10px !important;
    }
    #testimonial p{
        font-size: 14px !important;
    }
    #testimonial h6{
        font-size: 14px !important;
    }

    #signup-section p{
        font-size: 14px !important;
    }
    #signup-section p.p-size{
        font-size: 12px !important;
    }
    #contact-all-details .contact-details ul li span {
        font-size: 14px !important;
    }
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-section .banner-content .container {
        bottom: 5% !important;
    }
    .banner-video {
        min-height: 650px !important;
    }
    .banner-section .banner-video img {
        height: 650px !important;
    }
    .top-header .social-icon ul li {
        margin-right: 4px !important;
    }
    .top-header .contact-info ul li {
        margin-right: 8px !important;
    }
    .top-header .contact-info ul li i {
        margin-right: 5px;
    }
    #service-section .service-row {
        margin-top: -350px !important;
    }
    .video-background-controls {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }